body{
    color: #ffff;
    background-color: #404552;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    padding: 0;
    margin: 0;
    transition: all, 0.2s;
}
h1{
    display: none;
}
h1:after{
    content: no-open-quote;
	width: 200px;
	height: 0.3125rem;
	margin: 5px auto;
	display: block;
    background-color: #7c818c;
    transition: width, 0.5s;
    margin-bottom: 30px;
}
.visible{
    display: block;
}
.title-bar{
    -webkit-app-region: drag;
    height: 1.88rem;
    padding-top: 6px;
    width: 100%;
    background-color: #383c4a;
    margin-bottom: 10px;
}
.title-bar i{
    float: right;
    -webkit-app-region: none;
    cursor: pointer;
    transition: color, 0.3s;
    user-select: none;
    margin-right: 10px;
}
.title-bar i:hover{
    color: #5294e2;
}
.title-bar i:active{
    transition: color, 0.1s;
    color: #4b83c7;
}
#close:hover{
    color: #e25252;
}
#close:active{
    transition: color, 0.1s;
    color: #ca4a4a;
}
#close{
    margin-right: 10px;
}
.title-bar #refresh{
    float: left;
    margin-left: 10px;
    margin-right: 0px;
}
.title-bar .title{
    float: none;
    text-align: center;
    line-height: 1.6;
}
.button{
    color: white;
    user-select: none;
    padding: 8px 10px;
    border: 2px solid #7c818c;
    border-radius: 5px;
    cursor: pointer;
    transition: all, 0.2s;
    margin: 0px 2px;
    margin-bottom: 10px;
    background-color: #404552;
    outline: none;
}
.tip{
    padding: 4px 10px;
    padding-top: 0px;
    border: 2px solid #7c818c;
    border-radius: 5px;
    display: block;
    margin-bottom: 5px;
}
.tip-out{
    width: 90% !important;
}
.tips-list{
    width: 450px;
    height: 280px;
    margin: 0px auto;
    margin-top: 20px;
    overflow-y: auto;
}
#add-topic{
    padding: 5px 5px;
}
#add-tip{
    width: 450px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.button:hover{
    border-color: #a6adbb;
}
.button:active{
    border-color: #7aa9f0;
}
#topic-title{
    cursor: pointer;
}
.topic-list{
    margin-top: 10px;
    width: 100%;
    margin: 0px auto;
}
.tip-title{
    cursor: pointer;
}
.tip-text{
    cursor: pointer;
}
.center{
    text-align: center;
}
.title-bar .toggle{
    transition: padding, 0.2s;
    line-height: 0.87;
    float: left;
    padding-right: 20px;
    text-align: left;
    border: 2px solid #4b5162;
    background-color: #7c818c;
    border-radius: 50px;
    position: relative;
}
.title-bar .toggle-on{
    padding: 0px;
    padding-left: 20px;
}
.title-bar .left{
    float: left;
}

.finish::after{
    content: no-open-quote;
	width: 6.25rem;
	height: 0.3125rem;
    display: block;
    margin: 0px auto;
    transition: width, 0.5s;
}
.cappuccino{
    color: #fff4e6;
    background-color: #be9b7b;
}
.cappuccino .title-bar{
    background-color: #3c2f2f;
}
.cappuccino h1:after{
    width: 100%;
    background-color: #854442;
}
.cappuccino .title-bar .toggle{
    border-color: #4b3832;
    background-color: #854442;
}
.cappuccino .title-bar i:hover{
    color: #d48722;
}
.cappuccino .title-bar i:active{
    color: #a3681b;
}
.cappuccino .finish::after{
    margin-top: 10px;
    width: 100%;
    background-color: #854442;
}
.cappuccino .button{
    color: #fff4e6;
    border-color: #dfd6ca;
    background-color: #be9b7b;
}
.cappuccino .tip{
    border-color: #dfd6ca;
}
.cappuccino .button:hover{
    border-color: #fff4e6;
}
.cappuccino .button:active{
    border-color: #4b3832;
}
.hidden{
    display: none;
}